<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="folders" value="C:\ProgramData\Registry_App\"/>
  </appSettings>
    

    <connectionStrings>
        <add name="RegistryCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\RegistryDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
       
      <!--<add name="RegistryCS" connectionString="Data Source=.;Initial Catalog=RegistryDB;Integrated Security=True"
     providerName="System.Data.SqlClient" />-->
   
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>