<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net45" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net45" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net45" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net45" />
  <package id="SplashScreen.Winforms" version="1.0.0" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net45" />
  <package id="Tulpep.NotificationWindow" version="1.1.25" targetFramework="net45" />
  <package id="Twia.ReSharper" version="9.0.0" targetFramework="net45" />
</packages>